In [50]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in /opt/anaconda3/lib/python3.12/site-packages (0.5.0)
Requirement already satisfied: prettytable in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (2.5.0)
Requirement already satisfied: ipython in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (8.25.0)
Requirement already satisfied: sqlalchemy>=2.0 in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (2.0.30)
Requirement already satisfied: sqlparse in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: six in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/anaconda3/lib/python3.12/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.11.0)
Requirement already satisfied: decorator in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (0.18.1)
Requirement already satisfied: matplotlib-inline in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5.13.0 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: pexpect>4.3 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (4.8.0)
Requirement already satisfied: wcwidth in /opt/anaconda3/lib/python3.12/site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /opt/anaconda3/lib/python3.12/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /opt/anaconda3/lib/python3.12/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing in /opt/anaconda3/lib/python3.12/site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in /opt/anaconda3/lib/python3.12/site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in /opt/anaconda3/lib/python3.12/site-packages (from stack-data->ipython->ipython-sql) (0.2.2)

In [51]:
%reload_ext sql

In [52]:
%sql sqlite:///customer_churn.db

## Create the Table

In [54]:
%%sql

CREATE TABLE customers (
    customer_id INTEGER PRIMARY KEY,
    age INTEGER,
    gender TEXT,
    tenure_years INTEGER,
    account_balance REAL,
    num_products INTEGER,
    has_credit_card INTEGER,
    is_active_member INTEGER,
    estimated_salary REAL,
    churn INTEGER
);

   sqlite://
   sqlite:///churn.db
 * sqlite:///customer_churn.db
(sqlite3.OperationalError) table customers already exists
[SQL: CREATE TABLE customers (
    customer_id INTEGER PRIMARY KEY,
    age INTEGER,
    gender TEXT,
    tenure_years INTEGER,
    account_balance REAL,
    num_products INTEGER,
    has_credit_card INTEGER,
    is_active_member INTEGER,
    estimated_salary REAL,
    churn INTEGER
);]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

## Load Data into the Table

In [79]:
pip install prettytable==2.5.0

Requirement already satisfied: prettytable==2.5.0 in /opt/anaconda3/lib/python3.12/site-packages (2.5.0)
Requirement already satisfied: wcwidth in /opt/anaconda3/lib/python3.12/site-packages (from prettytable==2.5.0) (0.2.5)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd

df = pd.read_csv("customer_churn_data.csv")  # Make sure file exists

In [3]:
import sqlite3
conn = sqlite3.connect("churn.db")
df.to_sql("customers", conn, index=False, if_exists="replace")

1000

In [5]:
%load_ext sql
%sql sqlite:///churn.db

### 1. Overall Churn Rate
This query calculates the overall churn percentage.

In [7]:
%%sql
SELECT 
    COUNT(*) AS total_customers,
    SUM(churn) AS total_churned,
    ROUND(AVG(churn) * 100, 2) AS churn_rate_percent
FROM customers;

 * sqlite:///churn.db
Done.

[(1000, 203, 20.3)]

## Churn by Gender

In [13]:
%%sql
SELECT 
    gender,
    COUNT(*) AS total,
    SUM(churn) AS churned,
    ROUND(AVG(churn) * 100, 2) AS churn_rate_percent
FROM customers
GROUP BY gender;

 * sqlite:///churn.db
Done.

[('Female', 476, 90, 18.91), ('Male', 524, 113, 21.56)]

## Churn by Account Tenure

In [17]:
%%sql
SELECT 
    tenure_years,
    COUNT(*) AS total,
    SUM(churn) AS churned,
    ROUND(AVG(churn) * 100, 2) AS churn_rate_percent
FROM customers
GROUP BY tenure_years
ORDER BY tenure_years;

 * sqlite:///churn.db
Done.

[(0, 94, 18, 19.15),
 (1, 113, 30, 26.55),
 (2, 92, 16, 17.39),
 (3, 107, 21, 19.63),
 (4, 104, 20, 19.23),
 (5, 101, 13, 12.87),
 (6, 97, 24, 24.74),
 (7, 99, 27, 27.27),
 (8, 96, 19, 19.79),
 (9, 97, 15, 15.46)]

## Churn Based on Account Activity

In [20]:
%%sql
SELECT 
    is_active_member,
    COUNT(*) AS total,
    SUM(churn) AS churned,
    ROUND(AVG(churn) * 100, 2) AS churn_rate_percent
FROM customers
GROUP BY is_active_member;

 * sqlite:///churn.db
Done.

[(0, 490, 114, 23.27), (1, 510, 89, 17.45)]

## Churn by Product Holding

In [23]:
%%sql
SELECT 
    num_products,
    COUNT(*) AS total,
    SUM(churn) AS churned,
    ROUND(AVG(churn) * 100, 2) AS churn_rate_percent
FROM customers
GROUP BY num_products
ORDER BY num_products;

 * sqlite:///churn.db
Done.

[(1, 262, 59, 22.52),
 (2, 245, 45, 18.37),
 (3, 259, 57, 22.01),
 (4, 234, 42, 17.95)]